.Menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

.party {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Vacation {
  display: flex;
  flex-direction: row;
}

#profile-links {
  display: flex;
  padding-left: 1em;
}

#profile-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
